{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p>
        <img src="/static/img/yoda.png" alt="May the source be with you" style="width: 50%; height: 50%"/>
        <!-- the_flag_is_ctfnetent -->
    </p>
    {% include "partials/actions.html" %}
{% endblock %}

