{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p>
        <img src="/static/img/really.jpg" alt="You need to really listen" style="width: 50%; height: 50%"/>
        <p>
        <a href="/static/files/listen.wav" class="btn btn-primary" role="button">Listen</a>
    </p>
    {% include "partials/actions.html" %}
{% endblock %}