{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p>
        <link rel="stylesheet" href="/static/css/custom.css">
        <link rel="stylesheet" href="/static/css/twelve.css">

        <img src="/static/img/difference.png" alt="Different views?" style="width: 50%; height: 50%" class="sepia"/>

    </p>
    {% include "partials/actions.html" %}
{% endblock %}