{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p>
        We managed to extact a database dump from the victim. Maybe you will find it interesting
        <p>
        <a href="/static/files/dbdump.txt" class="btn btn-primary" role="button">Download file</a>
    </p>
    {% include "partials/actions.html" %}
{% endblock %}