{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <h3>DNS Resolution</h3>
    <p>DNS resolution is helpful, but was this implemented correctly? <br>
        Maybe it does more than it should!</p>
    <form action="" method="post">
    <div class="row">
      <div class="form-group col-xs-4">
        <input type="text" class="form-control" name="host" placeholder="Hostname">
      </div>
    </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <br>
    {% if error %}
        <pre>
            {{ error }}
        </pre>
    {% endif %}
    <br>
    {% include "partials/actions.html" %}
{% endblock %}