{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p>
        The client holds the secret
        <p>
        <script src="/static/js/gi.js"></script>
    </p>
    {% include "partials/actions.html" %}
{% endblock %}
