{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p>
        Welcome to innovation week 2016
    </p>
    <p>
      Sometimes we look but we can't see the obvious. Why is that?
    </p>
    <p>
      Maybe a result of natural selection? <span style="color:#eee">the_flag_is_gonzo</span>
    </p>
    {% include "partials/actions.html" %}
{% endblock %}
