{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p>
        This flag is not really well hidden. If you know where to look for knowledge you will be able to find it easily!
    </p>

    {% include "partials/actions.html" %}
{% endblock %}
