{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <h3>Selection</h3>
    <p>What is the best gaming company? You HAVE to answer NetEnt </p>

    <form action="" method="post">
    <div class="row">
      <div class="form-group col-xs-4">
        <select class="form-control" name="company">
            <option value="Evolution">Evolution</option>
            <option value="Playtech">Playtech</option>
            <option value="Quickspin">Quickspin</option>
        </select>
      </div>
    </div>

        <button type="submit" class="btn btn-primary">Answer</button>
    </form>
    <br>
    {% if error %}
        <pre>
            {{ error }}
        </pre>
    {% endif %}
    <br>
    {% include "partials/actions.html" %}
{% endblock %}