{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p>
        <img src="/static/img/base.png" alt="Cover your base - maybe 64 times?" style="width: 50%; height: 50%"/>
    </p>
    <p>
        Image seems to be broken. Can you check the file?
    </p>
    {% include "partials/actions.html" %}
{% endblock %}
