{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p class="gur_synt_vf_pelcgb">I should be level 13
    </p>
    {% include "partials/actions.html" %}
{% endblock %}
