{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p>Data...data...more data
    </p>
    <p>
    <a href="/static/files/Q1_16_Report.doc">Download Q1 2016 Financial Report</a>
    </p>
    {% include "partials/actions.html" %}
{% endblock %}
