{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p>Act speedsmart. The Secret is Innovation
    </p>
    {% include "partials/actions.html" %}
{% endblock %}
