{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
        <img src="/static/img/robots.jpg" alt="What do robots have to do with a website?" style="width: 50%; height: 50%"/>
    <p></p>

    {% include "partials/actions.html" %}
{% endblock %}
