{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p>Sometime is not simple to get the correct viewpoint. <br>
      What can change how this page looks?
    </p>
    {% include "partials/actions.html" %}
{% endblock %}
