{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <h3>Payment</h3>
    <p>
      Hope you enjoyed the game. For the last flag, give us a valid credit card number
    </p>
    <form action="" method="post">
    <div class="row">
      <div class="form-group col-xs-4">
        <input type="text" class="form-control" name="cc">
      </div>
    </div>
      <button type="submit" class="btn btn-primary">Pay</button>
    </form>
    <br>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <br>
    {% include "partials/actions.html" %}
{% endblock %}
