{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p>
        <img src="/static/img/lookdeep.jpg" alt="Look deep inside" style="width: 50%; height: 50%"/>
    </p>
    {% include "partials/actions.html" %}
{% endblock %}