{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p>
        <a href="/static/files/seacreature.pcap" class="btn btn-primary" role="button">Download file</a>
         and spend some time looking into it
    </p>
    {% include "partials/actions.html" %}
{% endblock %}