{% extends "base.html" %}

{% block content %}

    <h2>Level 7</h2>
    <br/>
    <p>
         This is not the way either, look elsewhere!
    </p>
    {% include "partials/actions.html" %}
{% endblock %}