{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p>
        <a href="/static/files/SoSimple.class" class="btn btn-primary" role="button">Download file</a>
         and see if this class can teach you anything!
    </p>
    {% include "partials/actions.html" %}
{% endblock %}