{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <h3>CISCO CNR Login System</h3>

    <form action="" method="post">
    <div class="row">
      <div class="form-group col-xs-4">
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-4">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
    </div>

      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
    <br>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <br>
    {% include "partials/actions.html" %}
{% endblock %}