{% extends "base.html" %}

{% block content %}

    <h2>Created by</h2>
    <br/>
        <p></p><a href="mailto:dimitrios.stergiou@netent.com?Subject=CTF">Dimitrios Stergiou</a>
        <p></p><a href="mailto:spyridon.dosis@netent.com?Subject=CTF">Spyridon Dosis</a>

{% endblock %}
