{% extends "base.html" %}

{% block content %}

    <h2>Challenges</h2>
    <div class="containter">
    <table class="table">
    <thead>
      <tr>
        <th>Challenge</th>
        <th>10 points</th>
        <th>7 points</th>
        <th>5 points</th>
      </tr>
    </thead>
    <tbody>
        {% for score in scores %}
            <tr>
                <td><a href="/{{ score[0] }}">Challenge {{ score[1] }}</a></td>
                {% if score[2] is equalto 'x' %}
                    <td class="danger">{{ score[2] }}</td>
                {% else %}
                    <td class="success">{{ score[2] }}</td>
                {% endif %}

                {% if score[3] is equalto 'x' %}
                    <td class="danger">{{ score[3] }}</td>
                {% else %}
                    <td class="success">{{ score[3] }}</td>
                {% endif %}

                {% if score[4] is equalto 'x' %}
                    <td class="danger">{{ score[4] }}</td>
                {% else %}
                    <td class="success">{{ score[4] }}</td>
                {% endif %}
            </tr>

        {% endfor %}
    </tbody>
  </table>
    </div>
{% endblock %}