{% extends "base.html" %}

{% block content %}

    <h2>Welcome to the NetEnt CTF 2016</h2>
    <br/>
    <p>
        <a href="/rules" class="btn btn-lg btn-primary" role="button">Check the rules</a>
        {% if not config.DEMO %}
            <a href="/challenges" class="btn btn-lg btn-primary" role="button">Begin playing</a>
        {% endif %}
    </p>

{% endblock %}