{% extends "base.html" %}

{% block content %}


    <h2>CTF Rankings</h2>
    <p>
      We decided to not show any rankings for now
    </p>
    <p>
      The winning team will be announced at the party
    </p>
<!--
    <div class="containter">
    <table class="table">
    <thead>
      <tr>
        <th>Team</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team[0] }}</td>
                <td>{{ team[1] }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
    </div>
-->
{% endblock %}
