{% extends "base.html" %}

{% block content %}

    <h2>NetEnt CTF 2016 Rules</h2>
    <ul>
        <li style="margin: 10px">The game is played in teams of <u>2-4</u> people. There are no restrictions on how the team is selected but a diverse team will be much more beneficial.</li>
        <li style="margin: 10px">There are <u>{{ levels }}</u> levels to work on. The levels can be taken in <u>any order</u> and the scoring is the same for all levels.</li>
        <li style="margin: 10px">The first team to solve a level receives <u>10 points</u>. The second team receives <u>7 points</u> and the third team receives <u>5 points</u>. Each subsequent team receives 3 points independent of order of solving the level</li>
        <li style="margin: 10px">You can request a hint for the level you are playing. For each hint your team receives the level will allocate <u>one point less</u>.</li>
        <li style="margin: 10px">The correct answer (flag) is a single word. Your goal is to find it and send it to the admins. Flags are case insensitive</li>
        <li style="margin: 10px">The flag is found in the form: the_flag_is_winner. You need to submit the last part of the flag, in this example you would submit "winner"</li>
        <li style="margin: 10px">When you think you know what the flag is, click on the green "Got it" button and type in the flag text in the email window. The admins will review it and let you know if you got it or not</li>
        <li style="margin: 10px">If you are really stuck at a level and you don't mind forfeiting a point, you can click on the yellow "Need hint" button and send an email to receive a hint. Note that this is not automated, so expect delays. We will do our best to provide the hints as fast as possible</li>
        <li style="margin: 10px">The CTF will run during the Innovation week and it will finish just before the party. The actual times are: Opens 14 March 2016, 09:00, closes 18 March 2016, 15:00</li>
        <li style="margin: 10px">The admins will <u>only</u> answer questions via email and <u>only</u> if it's part of a hint request. Please do not try to contact us with any other request - we will not reply</li>
        <li style="margin: 10px"><b>Note:</b> The scoring is not automated, is managed manually by the admins. The scores might be updated during the day but the official update will be before the end of every business day (around 17:00)</li>
        <li style="margin: 10px"><b>Note:</b> When multiple teams solve the same challenge at the same time the score will be allocated based on the order of the emails hitting the @ciso mailbox. We will not accept objections</li>
    </ul>
    <h2>Let's all have fun!</h2>

{% endblock %}
