{% extends "base.html" %}

{% block content %}


    <h2>Teams</h2>
    <div class="containter">
    <table class="table">
    <thead>
      <tr>
        <th>Team</th>
        <th>Members</th>
      </tr>
    </thead>
    <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team[0] }}</td>
                <td>{{ team[1] }}<br>{{ team[2]}}<br>{{ team[3] }}<br>{{ team[4] }}<br>{{ team[5] }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
    </div>
{% endblock %}