{% extends "base.html" %}

{% block content %}

    <h2>Useful tools</h2>
    <ul>
        <li style="margin: 10px">Steganography: <a href="https://futureboy.us/stegano/decinput.html">https://futureboy.us/stegano/decinput.html</a>
        <li style="margin: 10px">Base64: <a href="https://www.base64decode.org/">https://www.base64decode.org/</a>
        <li style="margin: 10px">Morse code: <a href="http://morsecode.scphillips.com/translator.html">http://morsecode.scphillips.com/translator.html</a>
        <li style="margin: 10px">Wireshark: <a href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>
        <li style="margin: 10px">Strings: <a href="https://technet.microsoft.com/en-us/sysinternals/strings.aspx">https://technet.microsoft.com/en-us/sysinternals/strings.aspx</a>
        <li style="margin: 10px">Default passwords: <a href="http://www.defaultpassword.com/">http://www.defaultpassword.com/</a>
        <li style="margin: 10px">Sound editor: <a href="http://www.audacityteam.org/">http://www.audacityteam.org/</a>
        <li style="margin: 10px">EXIF tools: <a href="http://regex.info/exif.cgi">http://regex.info/exif.cgi</a>
        <li style="margin: 10px">ROT13 Decryptor: <a href="http://web.forret.com/tools/rot13.asp">http://web.forret.com/tools/rot13.asp</a>
        <li style="margin: 10px">Live HTTP Headers: <a href="https://addons.mozilla.org/sv-se/firefox/addon/live-http-headers/">https://addons.mozilla.org/sv-se/firefox/addon/live-http-headers/</a>
        <li style="margin: 10px">Hex to ASCII: <a href="http://www.rapidtables.com/convert/number/hex-to-ascii.htm">http://www.rapidtables.com/convert/number/hex-to-ascii.htm</a>
        <li style="margin: 10px">Unicode encoding: <a href="https://www.branah.com/unicode-converter">https://www.branah.com/unicode-converter</a>
    </ul>
{% endblock %}


