{% block actions %}
    <a href="mailto:ciso@netent.com?Subject=Level%20{{ level }}%20 flag" class="btn btn-success" role="button">Got it!</a>
    <a href="mailto:ciso@netent.com?Subject=Level%20{{ level }}%20 hint" class="btn btn-warning" role="button">Need hint!</a><br/>
{% endblock %}
