{% extends "base.html" %}

{% block content %}

    <h2>Level {{ level }}</h2>
    <br/>
    <p>Act speedsmart
    </p>
    <script src="static/js/xhr{{ xhralt }}.js"></script>
    {% include "partials/actions.html" %}
{% endblock %}
